// Global

$brand-primary:         #2aacc8 !default;
$brand-success:         #e8ebf1 !default;
$brand-info:            #cf5232 !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$brand-color:           #81e4ed !default;


// Background

$bg-primary:                #2aacc8 ;
$bg-success:                #e8ebf1 ;
$bg-info:                   #cf5232 ;
$bg-warning:                #f0ad4e ;
$bg-danger:                 #d9534f ;
$bg-color:                  #81e4ed ;

// Borders
$border-bg-primary:         #2aacc8;
$border-bg-color:           #81e4ed;
$border-bg-succes:          #d9d9d9;
$border-bg-warning:         #6ec2ca;


$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;